.card {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .aprovado {
    background-color: #c3e6cb;
  }
  
  .reprovado {
    background-color: #f5c6cb;
  }
  